---
import styles from './blogPostCard.module.scss';

interface Props {
  post: Awaited<ReturnType<typeof import('astro:content').getCollection>>[number];
}

const { post } = Astro.props;
---

<a href={`/posts/${post.slug}`}>
  <div class={styles.card}>
    {post.data.image && <img src={post.data.image} alt={post.data.title} class={styles.cardImage} />}
    <h3 class={styles.h2}>{post.data.title}</h3>
    <p class={styles.description}>{post.data.description}</p>
    <p class={styles.date}>{post.data.publishDate.toLocaleDateString()}</p>
    {post.data.tags && (
      <div class={styles.tags}>
        {post.data.tags.map(tag => <span class="tag">{tag}</span>)}
      </div>
    )}
  </div>
</a>

