---
import styles from './rightBar.module.scss';
import { getCollection } from 'astro:content';
import './rightBar.scss';

import SearchForm from './SearchForm.jsx';
import FormBox from './FormBox';

const allPosts = await getCollection('blog');
const uniqueTags = new Set<string>();
const uniqueProjects = new Set<string>();

allPosts.forEach(post => {
  post.data.tags?.forEach(tag => uniqueTags.add(tag));
  post.data.projects?.forEach(project => uniqueProjects.add(project));
});

const sortedTags = Array.from(uniqueTags).sort(); // タグ名をアルファベット順にソート
const sortedProjects = Array.from(uniqueProjects).sort();

const { posts = [] } = Astro.props;
---

<>
  <section class={styles.rightBar}>
    <section class={styles.barSec}>
      <SearchForm client:load />
      <h4>
        <a href="/tags">タグから探す</a>
      </h4>
      {sortedTags.length === 0 ? (
        <p>タグが見つかりませんでした．</p>
      ) : (
        <div class={styles.acontent}>
          <ul>
            {sortedTags.map(tag => (
              <li>
                <a href={`/tags/${tag}`}>#{tag}</a>
              </li>
            ))}
          </ul>
        </div>
      )}
    </section>
    <section>
      <h4>
        <a href="/proj">プロジェクト</a>
      </h4>
      {sortedProjects.length === 0 ? (
        <p>プロジェクトが見つかりませんでした．</p>
      ) : (
        <div>
          <ul>
            {sortedProjects.map(project => (
              <li>
                <a href=`/proj/${project}`>{project}</a>
              </li>
            ))}
          </ul>
        </div>
      )}
    </section>
    <section class={styles.barSec}>
      <h4>
        <a href="/posts">最新記事</a>
      </h4>
      <div>
        <ul>
          {posts.slice(0, 5).map(post => (
            <li class={styles.item}>
              <a href={`/posts/${post.slug}`} class={styles.link}>
                {post.data.title}
              </a>
            </li>
          ))}
          <li>
            <a href='/posts'>もっと見る...</a>
          </li>
        </ul>
      </div>
    </section>
    <section class={styles.barSec}>
      <FormBox client:load />
    </section>
  </section>
</>