---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import RightBar from '../components/RightBar.astro';
import styles from './backgroundcolor.module.scss';
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
  </head>
  <body class={styles.all}>
    <div class={styles.img}>
      <Header />
      <div transition:animate=slide class={styles.slot}>
        <slot />
        <RightBar class={styles.rightBar} />
      </div> 
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  @import '../styles/globals.scss';
</style>
