---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import RightBar from '../components/RightBar.astro';
import styles from './backgroundcolor.module.scss';
import { ClientRouter } from 'astro:transitions';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');

const publishedPosts = allPosts
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime());
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <ClientRouter />
  </head>
  <body class={styles.all}>
    <div class={styles.img}>
      <Header />
      <div class={styles.slot}>
        <div transition:animate=slide class={styles.slotBlock}>
          <slot />
        </div>
        <div class={styles.slotBlockRight}>
          <RightBar posts={publishedPosts} class={styles.rightBar} />
        </div>
      </div> 
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  @import '../styles/globals.scss';
</style>
